// Main Config,
// * Untracked LOCAL

var pkg = require('../package');
var xmpp_prefix = 'some_prefix_';
var default_channel = 'main-channel';

module.exports = {

	// Package Env

	version: pkg.version,
	port: process.env.PORT || 9999,
	environment: process.env.NODE_ENV || 'development',
	libpath: __dirname + '/../lib',
	cmdpath: __dirname + '/../lib/commands',

	// Protocols

	cmd_shcut: '[!?]',
	xmpp_prefix: xmpp_prefix,
	default_channel: default_channel,
	client_response_ignore_channels: [ default_channel, 'coreinfra-int', 'zl-linux-tier3' ],

	enable_crossover: true,
	enable_crossover_channel_creation: true,

	irc: {
		enabled: true,
		host: "irc.somehost.net",
		username: "astra1",
		crossover_prefix: "[IRC] ",
		message_delimiter: " : ",
		color: "violet"
	},

	xmpp: {
		enabled: true,
		local_alias: "astra",
		username: xmpp_prefix + "astra",
		host: "somedomain.org",
		chat_domain: "@conference.somedomain.org",
		password: "password",
		crossover_prefix: "[XMPP] ",
		message_delimiter: " : ",
		color: "purple"
	},

    support: {
            host: 'SupportOhTwo'
    },

    affirm_array: [
            "Ok, %AUTHOR%, ",
            "Nice, %AUTHOR%, ",
            "Sweet, %AUTHOR%, ",
            "Alright, %AUTHOR%, ",
            "Sounds good, %AUTHOR%, ",
            "Cool, %AUTHOR%, ",
            "Yep, %AUTHOR%, ",
            "Right on, %AUTHOR%, ",
            "Woot, %AUTHOR%, ",
            "Yeah, %AUTHOR%, ",
            "Lucky you, %AUTHOR%, ",
    ],

    noauth_array: [
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "Sorry, %AUTHOR%, you are not allowed to do that.",
            "No matter how many times you try that, %AUTHOR%, it won't work.",
    ],

    // ACL

	ranks: [
		{
			name: 'Customer',
			min_level: 0,
			max_level: 0,
			allowed_cmds: [ 'ident', 'help', 'version' ],
		},
		{
			name: 'Staff',
			min_level: 1,
			max_level: 499,
			allowed_cmds: [ 'echo', 'which_chan' ],
		},
		{
			name: 'Admin',
			min_level: 500,
			max_level: 749,
			allowed_cmds: [ 'add_chan', 'levelup' ],
		},
		{
			name: 'SuperAdmin',
			min_level: 750,
			max_level: 999,
			allowed_cmds: [ 'promote', 'set' ],
		}
	],

	// Model Adapters

	adapters: {
		mysql: {
			user: 'astra',
			database: 'astra_data',
			password: 'password',
			//socketPath: '/var/lib/mysql/mysql.sock'
		}
	}
};
